nav {
    padding: 100px;
    padding-top: 0;
    padding-bottom: 0;

}


.navst {
    display: flex;
    justify-content: space-between;

}

.lan ul {
    display: flex;
    margin-left: 30px;
}

.lan ul li {
    margin-left: 50px;
    list-style-type: none;
}